.animate__delay-09s {
                       animation-delay: 0.9s;
}
.animate__delay-07s {
                       animation-delay: 0.7s;
}.animate__delay-05s {
                       animation-delay: 0.5s;
}
